h1{
  position: absolute;
  right: 265px;
  top: 110px;
  text-shadow: 5px 5px #FF0000;
}
#pig{
  position: absolute;
  left: 300px;
  top: 30px
}
#Chicken{
  position: absolute;
  left: 400px;
}
#Cow{
  position: absolute;
  left:  500px;
  top: 20px;
}
p{
  position: absolute;
  top: 200px
}
